attrs==25.3.0
-e git+https://github.com/sam-pearmain/dg.git@229588b0d7bb9646a16322fbb3ae38b7e256d4de#egg=dg
jax==0.7.0
jaxlib==0.7.0
jaxtyping==0.3.2
markdown-it-py==3.0.0
mdurl==0.1.2
meshio==5.3.5
ml_dtypes==0.5.1
mypy_extensions==1.1.0
numpy==2.3.2
opt_einsum==3.4.0
pathspec==0.12.1
Pygments==2.19.2
rich==14.1.0
scipy==1.16.1
typing_extensions==4.14.1
wadler_lindig==0.1.7
