jax==0.7.0
jaxlib==0.7.0
jaxtyping==0.3.2
markdown-it-py==3.0.0
mdurl==0.1.2
meshio==5.3.5
ml_dtypes==0.5.1
numpy==2.3.2
opt_einsum==3.4.0
Pygments==2.19.2
rich==14.1.0
scipy==1.16.1
wadler_lindig==0.1.7
